// // Base
// @import 'base/reset';
// @import 'base/typography';
@import 'base/icon';

// // Layout
// @import 'layout/header';
// @import 'layout/footer';
// @import 'layout/sidebar';
// @import 'layout/grid';

// // Pages
// @import 'pages/home';
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  color: #033256;
  
  background: var(--BG, linear-gradient(180deg, #FFF 0%, #F1F5F9 25.96%)) !important;
}
main{
  min-height: 40vh;
}
$color-base: #773EFA;

.text-color-base {
  color: $color-base;
}

.swiper-button-next,
.swiper-button-prev {
  width: 32px;
  height: 32px;
  color: #1F2549;
  box-shadow: 0px 4px 30px rgba(54, 41, 183, 0.07);
  filter: drop-shadow(0px 4px 30px rgba(54, 41, 183, 0.07)) drop-shadow(4px 0px 8px rgba(54, 41, 183, 0.08));

  &::after {
    content: none;

  }

  @media (max-width:767px) {
    display: none;
  }
}

.swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: rgba(9, 142, 247, 0.70);
  width: 24px;
  height: 12px;
  border-radius: 20px;
  transition: all 0.3s ease-out;
}

// menu mobile
.menu-enter {
  transform: translateY(-100%);
  opacity: 0;
}

.menu-enter-active {
  transition: all 0.3s ease-out;
  transform: translateY(0);
  opacity: 1;
}

.menu-leave {
  opacity: 1;
}

.menu-leave-active {
  transition: all 0.3s ease-in;
  opacity: 0;
}

.footer {
  background: var(--BG-1, radial-gradient(48.85% 43.17% at 42.42% 57.75%, #FFE5F0 3%, #FFF 100%));
}

.bg-box {
  background: linear-gradient(90deg, #098EF7 0%, #BC61F8 41%, #FF4169 97%);
}

@media (min-width:1300px){

  .flash-sale-swiper {
    .swiper-button-next {
      right: -20px;
    }
  
    .swiper-button-prev {
      left: -20px;
    }
  }
  
  .product-swiper,
  .brands-swiper {
    .swiper-button-next {
      right: -10px;
    }
  
    .swiper-button-prev {
      left: -10px;
    }
  }
  
}

.swiper-slide {
  height: initial;
}

.bg-blue-500 {
  background-color: $color-base;
}

.text-blue-500 {
  color: $color-base;
}

.border-blue-500 {
  border-color: $color-base;
}

#mobileMenu {
  background: radial-gradient(496.01% 70.65% at 50% 50.09%, #FFF 0%, #E6EDFF 100%);

  ul {
    border-radius: 16px 16px;
    background: radial-gradient(496.01% 70.65% at 50% 50.09%, #FFF 0%, #E6EDFF 100%);

    @media (max-width:767px) {
      background: none;
    }

    padding: 8px;

    li {
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 99px;
      padding: 6px 10px;
      gap: 6px;

      a {
        width: 100%;
        display: block;
        padding: 0;
      }

      &::before {
        flex-shrink: 0;
        position: relative;
        top: 3px;
        content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 14H9.40875C9.92803 13.5363 10.4177 13.0406 10.875 12.5156C12.5906 10.5425 13.5 8.4625 13.5 6.5C13.5 5.04131 12.9205 3.64236 11.8891 2.61091C10.8576 1.57946 9.45869 1 8 1C6.54131 1 5.14236 1.57946 4.11091 2.61091C3.07946 3.64236 2.5 5.04131 2.5 6.5C2.5 8.4625 3.40687 10.5425 5.125 12.5156C5.58226 13.0406 6.07197 13.5363 6.59125 14H3.5C3.36739 14 3.24021 14.0527 3.14645 14.1464C3.05268 14.2402 3 14.3674 3 14.5C3 14.6326 3.05268 14.7598 3.14645 14.8536C3.24021 14.9473 3.36739 15 3.5 15H12.5C12.6326 15 12.7598 14.9473 12.8536 14.8536C12.9473 14.7598 13 14.6326 13 14.5C13 14.3674 12.9473 14.2402 12.8536 14.1464C12.7598 14.0527 12.6326 14 12.5 14ZM3.5 6.5C3.5 5.30653 3.97411 4.16193 4.81802 3.31802C5.66193 2.47411 6.80653 2 8 2C9.19347 2 10.3381 2.47411 11.182 3.31802C12.0259 4.16193 12.5 5.30653 12.5 6.5C12.5 10.0769 9.03312 13.0625 8 13.875C6.96687 13.0625 3.5 10.0769 3.5 6.5ZM10.5 6.5C10.5 6.00555 10.3534 5.5222 10.0787 5.11107C9.80397 4.69995 9.41352 4.37952 8.95671 4.1903C8.49989 4.00108 7.99723 3.95157 7.51227 4.04804C7.02732 4.1445 6.58186 4.3826 6.23223 4.73223C5.8826 5.08186 5.6445 5.52732 5.54804 6.01227C5.45157 6.49723 5.50108 6.99989 5.6903 7.45671C5.87952 7.91352 6.19995 8.30397 6.61107 8.57867C7.0222 8.85338 7.50555 9 8 9C8.66304 9 9.29893 8.73661 9.76777 8.26777C10.2366 7.79893 10.5 7.16304 10.5 6.5ZM6.5 6.5C6.5 6.20333 6.58797 5.91332 6.7528 5.66664C6.91762 5.41997 7.15189 5.22771 7.42597 5.11418C7.70006 5.00065 8.00166 4.97094 8.29264 5.02882C8.58361 5.0867 8.85088 5.22956 9.06066 5.43934C9.27044 5.64912 9.4133 5.91639 9.47118 6.20736C9.52906 6.49834 9.49935 6.79994 9.38582 7.07402C9.27229 7.34811 9.08003 7.58238 8.83335 7.7472C8.58668 7.91203 8.29667 8 8 8C7.60217 8 7.22064 7.84196 6.93934 7.56066C6.65803 7.27936 6.5 6.89782 6.5 6.5Z" fill="%23033256"/></svg>');
      }

      &::after {
        flex-shrink: 0;
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M11.354 8.35354L6.35403 13.3535C6.30757 13.4 6.25242 13.4368 6.19173 13.462C6.13103 13.4871 6.06598 13.5001 6.00028 13.5001C5.93458 13.5001 5.86953 13.4871 5.80883 13.462C5.74813 13.4368 5.69298 13.4 5.64653 13.3535C5.60007 13.3071 5.56322 13.2519 5.53808 13.1912C5.51294 13.1305 5.5 13.0655 5.5 12.9998C5.5 12.9341 5.51294 12.869 5.53808 12.8083C5.56322 12.7476 5.60007 12.6925 5.64653 12.646L10.2934 7.99979L5.64653 3.35354C5.55271 3.25972 5.5 3.13247 5.5 2.99979C5.5 2.86711 5.55271 2.73986 5.64653 2.64604C5.74035 2.55222 5.8676 2.49951 6.00028 2.49951C6.13296 2.49951 6.26021 2.55222 6.35403 2.64604L11.354 7.64604C11.4005 7.69248 11.4374 7.74762 11.4626 7.80832C11.4877 7.86902 11.5007 7.93408 11.5007 7.99979C11.5007 8.0655 11.4877 8.13056 11.4626 8.19126C11.4374 8.25196 11.4005 8.3071 11.354 8.35354Z" fill="%23033256"/></svg>');
      }

      &:hover,
      &.active {
        background: $color-base;

        a {
          color: #fff !important;
        }

        &::before {
          content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 14H9.40875C9.92803 13.5363 10.4177 13.0406 10.875 12.5156C12.5906 10.5425 13.5 8.4625 13.5 6.5C13.5 5.04131 12.9205 3.64236 11.8891 2.61091C10.8576 1.57946 9.45869 1 8 1C6.54131 1 5.14236 1.57946 4.11091 2.61091C3.07946 3.64236 2.5 5.04131 2.5 6.5C2.5 8.4625 3.40687 10.5425 5.125 12.5156C5.58226 13.0406 6.07197 13.5363 6.59125 14H3.5C3.36739 14 3.24021 14.0527 3.14645 14.1464C3.05268 14.2402 3 14.3674 3 14.5C3 14.6326 3.05268 14.7598 3.14645 14.8536C3.24021 14.9473 3.36739 15 3.5 15H12.5C12.6326 15 12.7598 14.9473 12.8536 14.8536C12.9473 14.7598 13 14.6326 13 14.5C13 14.3674 12.9473 14.2402 12.8536 14.1464C12.7598 14.0527 12.6326 14 12.5 14ZM3.5 6.5C3.5 5.30653 3.97411 4.16193 4.81802 3.31802C5.66193 2.47411 6.80653 2 8 2C9.19347 2 10.3381 2.47411 11.182 3.31802C12.0259 4.16193 12.5 5.30653 12.5 6.5C12.5 10.0769 9.03312 13.0625 8 13.875C6.96687 13.0625 3.5 10.0769 3.5 6.5ZM10.5 6.5C10.5 6.00555 10.3534 5.5222 10.0787 5.11107C9.80397 4.69995 9.41352 4.37952 8.95671 4.1903C8.49989 4.00108 7.99723 3.95157 7.51227 4.04804C7.02732 4.1445 6.58186 4.3826 6.23223 4.73223C5.8826 5.08186 5.6445 5.52732 5.54804 6.01227C5.45157 6.49723 5.50108 6.99989 5.6903 7.45671C5.87952 7.91352 6.19995 8.30397 6.61107 8.57867C7.0222 8.85338 7.50555 9 8 9C8.66304 9 9.29893 8.73661 9.76777 8.26777C10.2366 7.79893 10.5 7.16304 10.5 6.5ZM6.5 6.5C6.5 6.20333 6.58797 5.91332 6.7528 5.66664C6.91762 5.41997 7.15189 5.22771 7.42597 5.11418C7.70006 5.00065 8.00166 4.97094 8.29264 5.02882C8.58361 5.0867 8.85088 5.22956 9.06066 5.43934C9.27044 5.64912 9.4133 5.91639 9.47118 6.20736C9.52906 6.49834 9.49935 6.79994 9.38582 7.07402C9.27229 7.34811 9.08003 7.58238 8.83335 7.7472C8.58668 7.91203 8.29667 8 8 8C7.60217 8 7.22064 7.84196 6.93934 7.56066C6.65803 7.27936 6.5 6.89782 6.5 6.5Z" fill="%23ffffff"/></svg>');
        }

        &::after {
          content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M11.354 8.35354L6.35403 13.3535C6.30757 13.4 6.25242 13.4368 6.19173 13.462C6.13103 13.4871 6.06598 13.5001 6.00028 13.5001C5.93458 13.5001 5.86953 13.4871 5.80883 13.462C5.74813 13.4368 5.69298 13.4 5.64653 13.3535C5.60007 13.3071 5.56322 13.2519 5.53808 13.1912C5.51294 13.1305 5.5 13.0655 5.5 12.9998C5.5 12.9341 5.51294 12.869 5.53808 12.8083C5.56322 12.7476 5.60007 12.6925 5.64653 12.646L10.2934 7.99979L5.64653 3.35354C5.55271 3.25972 5.5 3.13247 5.5 2.99979C5.5 2.86711 5.55271 2.73986 5.64653 2.64604C5.74035 2.55222 5.8676 2.49951 6.00028 2.49951C6.13296 2.49951 6.26021 2.55222 6.35403 2.64604L11.354 7.64604C11.4005 7.69248 11.4374 7.74762 11.4626 7.80832C11.4877 7.86902 11.5007 7.93408 11.5007 7.99979C11.5007 8.0655 11.4877 8.13056 11.4626 8.19126C11.4374 8.25196 11.4005 8.3071 11.354 8.35354Z" fill="%23ffffff"/></svg>');
        }
      }
    }
  }
}
.breadcrumb{
  li{
    &:not(:last-child){
      &::after{
        content: '»';
        margin-left: 16px;
      }
    }
  
  }
}
.heart{
  cursor: pointer;
  .icon:hover{
    content: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.25 5C19.6688 5 17.4088 6.11 16 7.98625C14.5912 6.11 12.3313 5 9.75 5C7.69528 5.00232 5.72539 5.81958 4.27248 7.27248C2.81958 8.72539 2.00232 10.6953 2 12.75C2 21.5 14.9738 28.5825 15.5262 28.875C15.6719 28.9533 15.8346 28.9943 16 28.9943C16.1654 28.9943 16.3281 28.9533 16.4737 28.875C17.0262 28.5825 30 21.5 30 12.75C29.9977 10.6953 29.1804 8.72539 27.7275 7.27248C26.2746 5.81958 24.3047 5.00232 22.25 5ZM16 26.85C13.7175 25.52 4 19.4613 4 12.75C4.00198 11.2256 4.60842 9.76423 5.68633 8.68633C6.76423 7.60842 8.22561 7.00198 9.75 7C12.1812 7 14.2225 8.295 15.075 10.375C15.1503 10.5584 15.2785 10.7153 15.4432 10.8257C15.6079 10.9361 15.8017 10.995 16 10.995C16.1983 10.995 16.3921 10.9361 16.5568 10.8257C16.7215 10.7153 16.8497 10.5584 16.925 10.375C17.7775 8.29125 19.8188 7 22.25 7C23.7744 7.00198 25.2358 7.60842 26.3137 8.68633C27.3916 9.76423 27.998 11.2256 28 12.75C28 19.4513 18.28 25.5188 16 26.85Z" fill="%23FF4169"/></svg>')
  }
  &.active{
    .icon{
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M30 12.75C30 21.5 17.0262 28.5825 16.4737 28.875C16.3281 28.9533 16.1654 28.9943 16 28.9943C15.8346 28.9943 15.6719 28.9533 15.5262 28.875C14.9738 28.5825 2 21.5 2 12.75C2.00232 10.6953 2.81958 8.72539 4.27248 7.27248C5.72539 5.81958 7.69528 5.00232 9.75 5C12.3313 5 14.5912 6.11 16 7.98625C17.4088 6.11 19.6688 5 22.25 5C24.3047 5.00232 26.2746 5.81958 27.7275 7.27248C29.1804 8.72539 29.9977 10.6953 30 12.75Z" fill="%23FF4169"/></svg>');

    }
  }
}
.accordion-tab{
  position: relative;
  .group{
    position: relative;
    padding-left: 25px;

    &::after{
      position: absolute;
      left: -12px;
      top: -2px;
      content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2.25C10.0716 2.25 8.18657 2.82183 6.58319 3.89317C4.97982 4.96451 3.73013 6.48726 2.99218 8.26884C2.25422 10.0504 2.06114 12.0108 2.43735 13.9021C2.81355 15.7934 3.74215 17.5307 5.10571 18.8943C6.46928 20.2579 8.20656 21.1865 10.0979 21.5627C11.9892 21.9389 13.9496 21.7458 15.7312 21.0078C17.5127 20.2699 19.0355 19.0202 20.1068 17.4168C21.1782 15.8134 21.75 13.9284 21.75 12C21.7473 9.41498 20.7192 6.93661 18.8913 5.10872C17.0634 3.28084 14.585 2.25273 12 2.25ZM16.2806 10.2806L11.0306 15.5306C10.961 15.6004 10.8783 15.6557 10.7872 15.6934C10.6962 15.7312 10.5986 15.7506 10.5 15.7506C10.4014 15.7506 10.3038 15.7312 10.2128 15.6934C10.1218 15.6557 10.039 15.6004 9.96938 15.5306L7.71938 13.2806C7.57865 13.1399 7.49959 12.949 7.49959 12.75C7.49959 12.551 7.57865 12.3601 7.71938 12.2194C7.86011 12.0786 8.05098 11.9996 8.25 11.9996C8.44903 11.9996 8.6399 12.0786 8.78063 12.2194L10.5 13.9397L15.2194 9.21937C15.2891 9.14969 15.3718 9.09442 15.4628 9.0567C15.5539 9.01899 15.6515 8.99958 15.75 8.99958C15.8486 8.99958 15.9461 9.01899 16.0372 9.0567C16.1282 9.09442 16.2109 9.14969 16.2806 9.21937C16.3503 9.28906 16.4056 9.37178 16.4433 9.46283C16.481 9.55387 16.5004 9.65145 16.5004 9.75C16.5004 9.84855 16.481 9.94613 16.4433 10.0372C16.4056 10.1282 16.3503 10.2109 16.2806 10.2806Z" fill="%23773EFA"/></svg>');
    }
    &::before{
      content: '';
      width: 1px;
      height: 100%;
      background:  #EBE2FE;
      position: absolute;
      left: 0;
      top: 0px;
    }
    &:last-child{
      &::after{
        content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.1744 9.63937C20.8209 9.27 20.4553 8.88938 20.3175 8.55469C20.19 8.24813 20.1825 7.74 20.175 7.24781C20.1609 6.33281 20.1459 5.29594 19.425 4.575C18.7041 3.85406 17.6672 3.83906 16.7522 3.825C16.26 3.8175 15.7519 3.81 15.4453 3.6825C15.1116 3.54469 14.73 3.17906 14.3606 2.82562C13.7137 2.20406 12.9788 1.5 12 1.5C11.0212 1.5 10.2872 2.20406 9.63937 2.82562C9.27 3.17906 8.88938 3.54469 8.55469 3.6825C8.25 3.81 7.74 3.8175 7.24781 3.825C6.33281 3.83906 5.29594 3.85406 4.575 4.575C3.85406 5.29594 3.84375 6.33281 3.825 7.24781C3.8175 7.74 3.81 8.24813 3.6825 8.55469C3.54469 8.88844 3.17906 9.27 2.82562 9.63937C2.20406 10.2863 1.5 11.0212 1.5 12C1.5 12.9788 2.20406 13.7128 2.82562 14.3606C3.17906 14.73 3.54469 15.1106 3.6825 15.4453C3.81 15.7519 3.8175 16.26 3.825 16.7522C3.83906 17.6672 3.85406 18.7041 4.575 19.425C5.29594 20.1459 6.33281 20.1609 7.24781 20.175C7.74 20.1825 8.24813 20.19 8.55469 20.3175C8.88844 20.4553 9.27 20.8209 9.63937 21.1744C10.2863 21.7959 11.0212 22.5 12 22.5C12.9788 22.5 13.7128 21.7959 14.3606 21.1744C14.73 20.8209 15.1106 20.4553 15.4453 20.3175C15.7519 20.19 16.26 20.1825 16.7522 20.175C17.6672 20.1609 18.7041 20.1459 19.425 19.425C20.1459 18.7041 20.1609 17.6672 20.175 16.7522C20.1825 16.26 20.19 15.7519 20.3175 15.4453C20.4553 15.1116 20.8209 14.73 21.1744 14.3606C21.7959 13.7137 22.5 12.9788 22.5 12C22.5 11.0212 21.7959 10.2872 21.1744 9.63937ZM16.2806 10.2806L11.0306 15.5306C10.961 15.6004 10.8783 15.6557 10.7872 15.6934C10.6962 15.7312 10.5986 15.7506 10.5 15.7506C10.4014 15.7506 10.3038 15.7312 10.2128 15.6934C10.1217 15.6557 10.039 15.6004 9.96937 15.5306L7.71937 13.2806C7.57864 13.1399 7.49958 12.949 7.49958 12.75C7.49958 12.551 7.57864 12.3601 7.71937 12.2194C7.86011 12.0786 8.05098 11.9996 8.25 11.9996C8.44902 11.9996 8.63989 12.0786 8.78063 12.2194L10.5 13.9397L15.2194 9.21937C15.2891 9.14969 15.3718 9.09442 15.4628 9.0567C15.5539 9.01899 15.6515 8.99958 15.75 8.99958C15.8485 8.99958 15.9461 9.01899 16.0372 9.0567C16.1282 9.09442 16.2109 9.14969 16.2806 9.21937C16.3503 9.28906 16.4056 9.37178 16.4433 9.46283C16.481 9.55387 16.5004 9.65145 16.5004 9.75C16.5004 9.84855 16.481 9.94613 16.4433 10.0372C16.4056 10.1282 16.3503 10.2109 16.2806 10.2806Z" fill="%23773EFA"/></svg>');
      }
      &::before{
        display: none;
      }
    }
  }
 
}
.table-product{
  th,td{
    padding:10px 0;
    &:not(:first-child){
      padding-left: 10px;
    }
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
    &:focus{
      outline: none;
    }
  }
}
.quantity{
  &[type=number]::-webkit-outer-spin-button,
  &[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
    &:focus{
      outline: none;
    }
  }
}
.table-info{
  td{
    padding: 10px;
    border: 1px solid #B7CCD9;
    border-top: 0;
    &:first-child{
      background: #F1F5F9;
      width: 180px;
      border-left: 0;
    }
    &:last-child{
      border-right: 0;
    }
  }
  tr:last-child{
    td{
      border-bottom: 0;
    }
  }
}
.item-review:not(:first-child){
  border-top: 1px solid;
}
/* Ẩn giao diện mặc định */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #8C9FB1;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

/* Giao diện khi được checked */
input[type="checkbox"]:checked {
  background-color: $color-base; /* ✅ Màu nền khi được chọn */
  border-color: $color-base;
}

/* Dấu tích giả lập */
input[type="checkbox"]:checked::after {
  content: url('data:image/svg+xml,<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.28052 1.28053L4.03052 6.53053C3.96092 6.60033 3.87822 6.65563 3.78712 6.69333C3.69612 6.73113 3.59852 6.75053 3.49992 6.75053C3.40132 6.75053 3.30372 6.73113 3.21272 6.69333C3.12172 6.65563 3.03892 6.60033 2.9693 6.53053L0.719302 4.28053C0.578572 4.13983 0.499512 3.94893 0.499512 3.74993C0.499512 3.55093 0.578572 3.36003 0.719302 3.21933C0.860032 3.07853 1.0509 2.99953 1.24992 2.99953C1.44895 2.99953 1.63982 3.07853 1.78055 3.21933L3.49992 4.93963L8.21932 0.219301C8.28902 0.149621 8.37172 0.0943511 8.46272 0.0566311C8.55382 0.0189211 8.65142 -0.000488281 8.74992 -0.000488281C8.84852 -0.000488281 8.94602 0.0189211 9.03712 0.0566311C9.12812 0.0943511 9.21082 0.149621 9.28052 0.219301C9.35022 0.288991 9.40552 0.371711 9.44322 0.462761C9.48092 0.553801 9.50032 0.651381 9.50032 0.749931C9.50032 0.848481 9.48092 0.946061 9.44322 1.03713C9.40552 1.12813 9.35022 1.21083 9.28052 1.28053Z" fill="white"/></svg>');
  position: absolute;
  top: 0px;
  left: 3px;
  height: 14px;
  line-height: 14px;
}
.discount{

}
.discount-badge{
 
  span{
    border: 1px solid $color-base; 
    color: $color-base;
    padding: 0 15px;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    line-height: 19px;
    font-size: 13px;
  }
  &::before,
    &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 9999px;
    z-index: 1;
    border: 1px solid $color-base; /* Màu tím base (tailwind purple-600) */
  }
  &::before {
    left: -4px;
  }
  
  &::after {
    right: -4px;
  }
}


.radio-address:hover {
  border: 2px solid transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, #00c6ff, #f500c0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.radio-address:checked {
  background: linear-gradient(to right, #00c6ff, #f500c0);
  border: none;
}

.radio-address:checked::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  background: white url('data:image/svg+xml;utf8,<svg fill="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M9 16.2l-3.5-3.6L4 14l5 5 12-12-1.5-1.5z"/></svg>') no-repeat center center;
  background-size: 9px 9px;
  border-radius: 9999px;
}

.address-item:has(input:checked) {
  border: 1px solid transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, #00c6ff, #f500c0);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 1rem;
}


.radio-custom {
  appearance: none;
  width: 1.25rem;  
  min-width: 1.25rem;   
  height: 1.25rem;     
  border-radius: 9999px; 
  border: 1px solid #d1d5db;
  background-color: white; 
  cursor: pointer;
  position: relative;  
  transition: all 0.1s; 

  &:hover {
    border: 1px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(to right, #00c6ff, #f500c0);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  &:checked {
    background: linear-gradient(to right, #00c6ff, #f500c0);
    border: none;
  }

  &:checked::after {
    content: url('data:image/svg+xml,<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.28052 1.28053L4.03052 6.53053C3.96092 6.60033 3.87822 6.65563 3.78712 6.69333C3.69612 6.73113 3.59852 6.75053 3.49992 6.75053C3.40132 6.75053 3.30372 6.73113 3.21272 6.69333C3.12172 6.65563 3.03892 6.60033 2.9693 6.53053L0.719302 4.28053C0.578572 4.13983 0.499512 3.94893 0.499512 3.74993C0.499512 3.55093 0.578572 3.36003 0.719302 3.21933C0.860032 3.07853 1.0509 2.99953 1.24992 2.99953C1.44895 2.99953 1.63982 3.07853 1.78055 3.21933L3.49992 4.93963L8.21932 0.219301C8.28902 0.149621 8.37172 0.0943511 8.46272 0.0566311C8.55382 0.0189211 8.65142 -0.000488281 8.74992 -0.000488281C8.84852 -0.000488281 8.94602 0.0189211 9.03712 0.0566311C9.12812 0.0943511 9.21082 0.149621 9.28052 0.219301C9.35022 0.288991 9.40552 0.371711 9.44322 0.462761C9.48092 0.553801 9.50032 0.651381 9.50032 0.749931C9.50032 0.848481 9.48092 0.946061 9.44322 1.03713C9.40552 1.12813 9.35022 1.21083 9.28052 1.28053Z" fill="white"/></svg>');
    position: absolute;
    top: 4px;
    left: 5px;
    width: 9px;
    line-height: 9px;
  }
}